---
import DummyLayout from '@layouts/DummyLayout.astro';
---

<DummyLayout>
	<div class="message-area">
		<h1>404</h1>
		<h3>Not Found</h3>
		<p>ページが見つかりません</p>
	</div>
</DummyLayout>

<style>
	div.message-area {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #8d8d8d;
	}
	div.message-area h1 {
		font-size: 64px;
		margin: 0;
	}
	div.message-area h3 {
		font-size: 32px;
		margin: 0;
	}
</style>
